.ShowFeedsButton {
    -fx-fill: darkgrey;
    -fx-font-size: 50px;
}

.ShowFeedsButton:hover {
    -fx-fill: white;
}

.SideMenuArrow {

}

.SideMenuArrow:hover {

}

.ShowItemDetails {
    -fx-fill: darkgrey;
    -fx-font-size: 50px;
}

.MenuButton {
    -fx-fill: darkgrey;
    -fx-font-size: 50px;
}

.MenuButton:hover {
    -fx-fill: white;
}

.CustomButton {
    -fx-background-color: #282C2C;
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-padding: 3 15 3 15;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.CustomButton:hover {
    -fx-border-color: whitesmoke;
}

.ToggleColorButtonOff {
    -fx-fill: #404040;
    -fx-font-size: 50px;
}

.ToggleColorButtonOff:hover {
    -fx-fill: #787878;
}

.ToggleColorButtonOn {
    -fx-fill: white;
    -fx-font-size: 50px;
}

.ToggleColorButtonOn:hover {
    -fx-fill: #787878;
}